# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  release:
    types: [published]
  push:
    branches: [ dev ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    #- run: npm test
  publish: 
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Set Package registry 
      run: npm config set registry https://npm.pkg.github.com
    - name: Github package authentication
      run: npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN}}
    - name: NPM registry authentication
      run: npm set //registry.npmjs.org/:_authToken $ {{ secrets.NPM_TOKEN }}
    - name: NPM Publish
      run: npm publish

    
        
    
    
